# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
 python 
 java 
 sql

Some of the commonly used libraries used by Data Scientists include:
numpy
pandas
seaborn

| Data Science Tools |
| -------------------|
| Jupter Notebook    |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5  # This a simple arithmetic expression to mutiply then add integers.

17

In [4]:

# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives**
- python
- R
- SQL

##Author Narges